.quiz_cart{
    border: 1px solid black;
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
}
@media screen and (max-width: 586px) {
    .quiz_cart{
        width: 300px;
    }
    .option_li{
        width: 300px;
    }
}